<html>

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/graph.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/bootstrap-4.4.1-dist/css/bootstrap.min.css') }}">
    <!--link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-4.4.1-dist/css/all.css') }}"-->
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/fontawesome-free-6.1.1-web/css/all.css') }}">
</head>

<body>
    <div class="query">
        <div class="up">
            <input class="modern-input" id="query" name="query">
        </div>
        <div class="right">
            <div class="floating-btns">
                <a class="stabilize-btn floating-btn" id="stabilize" href="#" title="Stabilize">
                    <i class="fas fa-stop"></i> Stabilize
                </a>
                <a class="stabilize-btn floating-btn" id="stabilize" href="#" title="Stabilize">
                    <i class="fas fa-stop"></i> Stabilize
                </a>
                <a class="stabilize-btn floating-btn" id="stabilize" href="#" title="Stabilize">
                    <i class="fas fa-stop"></i> Stabilize
                </a>
                <a class="stabilize-btn floating-btn" id="stabilize" href="#" title="Stabilize">
                    <i class="fas fa-stop"></i> Stabilize
                </a>
            </div>
        </div>
        <div class="left">
            <div class="table left-section">
                <div class="title">Commands</div>
                <div class="commands">
                    <a href="#" class="command" title="MATCH (user:users) RETURN user">
                            Show all users
                        </a>
                    <a href="#" class="command" title="MATCH (server:servers) RETURN server">
                            Show all servers
                        </a>
                    <a href="#" class="command" title="MATCH relations=()-->() RETURN relations">
                            Show all relationships
                        </a>
                    <a href="#" class="command" title="MATCH (user:users) where user.password='{}' RETURN user">
                            Show all users with X password
                    </a>
                </div>
            </div>   
            <div class="left-section">
                <div class="title">Protocols</div>
                <div class="options">
                    <a href="#" class="opt toggle-opt active" title="">
                            tcp
                        </a>
                    <a href="#" class="opt toggle-opt active" title="">
                            telnet
                        </a>
                    <a href="#" class="opt toggle-opt" title="">
                            udp
                        </a>
                    <a href="#" class="opt toggle-opt" title="">
                            ssh
                    </a>
                    <a href="#" class="opt toggle-opt" title="">
                            llmnr
                    </a>
                    <a href="#" class="opt toggle-opt" title="">
                            arp
                    </a>
                    <a href="#" class="opt toggle-opt" title="">
                            icmp
                    </a>
                    <a href="#" class="opt toggle-opt" title="">
                            http
                    </a>
                </div>
            </div>  
        </div>
            <div class="down">
                <div class="pcaps">
                    <a class="import-btn floating-btn" id="stabilize" href="#" title="Stabilize">
                        <i class="fas fa-upload"></i></a>
                    <a href="#" class="floating-btn toggle-pcap active"><i class="fas fa-xmark remove-pcap"></i>baba.pcapng<input type="hidden" value="pcap-info>"></a>
                    <a href="#" class="floating-btn toggle-pcap"><i class="fas fa-xmark remove-pcap"></i>ganush.pcapng<input type="hidden" value="pcap-info>"></a>
                </div>
            </div>
        </div>
        <div class="down">
            <div class="pcaps">
                <a class="import-btn floating-btn" id="stabilize" href="#" title="Stabilize">
                    <i class="fas fa-upload"></i>
                </a>
                <div class="hidden">
                    <input type="file" id="upload-file" onchange="alert(1)">
                </div>
            </div>
        </div>
    </div>
    <div class="notifications">
        <div class="noti">

        </div>
    </div>
    
    <div id="Graph"></div>
    <script src="{{ url_for('static', filename='assets/bootstrap-4.4.1-dist/js/jquery-3.6.0.min.js') }}"></script>
    <script src="{{ url_for( 'static', filename='js/neovis.js' ) }} "></script>
    <script src="{{ url_for( 'static', filename='js/graph.js' ) }} "></script>
</body>

</html>